html {
    font-size: 14px;
}

body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.header--dark {
    display: block;
    background-color: rgb(51,57,64);
    color: rgb(236,236,236);
    height: 4rem;
    line-height: 4rem;
    padding: 0 1.5rem;
}

.header--title {
    display: inline;
    font-size: 1.25rem;
}

.header__search {
    display: inline-block;
    float: right;
}

.header__search__form {
    
}

.search__input {
    display: inline-block;
    border: 1px solid;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    border-color: rgb(128,189,255);
    transition: border-color .15s;
}

.search__input:focus {
    border-color: rgb(128,189,255);
}

.search__btn {
    display: inline-block;
    background-color: rgb(0,123,255);
    font-size: 1.2rem;
    padding: .375rem .75rem;
    color: rgb(255,255,255);
    border-radius: 4px;
}

.main {
    display: flex;
}

.main__header {
    font-size: 3rem;
    padding: 0 1.5rem 2rem 1.5rem;
    margin: 0;
}

.main__breadcrumb {
    background-color: rgb(233,236,239);
    border-radius: .25rem;
    padding: 1rem 1.5rem;
    margin: 0 1.5rem;
}

.aside {
    background-color: rgb(33,37,41);
    width: 15%;
    padding: 1.5rem;
}

.main__nav {
    display: block;
}

.nav__ul {
    list-style: none;
}

.nav__header {
    color: #5a5e61;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 4rem;
}

.nav__link {
    color: #8e969e;
    text-decoration: none;
    line-height: 4rem;
    font-size: 1.2rem;
}

.nav__link:hover {
    color: #ffffff;
}

.nav__icon {
    color: #5a5e61;
    padding: 0 .5rem 0 0;
}

.content {
    width: 85%;
    padding: 2rem;
}

.main__cards {
    display: flex;
}

.main__card {
    width: 25%;
    margin: 1.5rem;
    border-radius: .25rem;
}

.card__top {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: 1.5rem;
    color: rgb(255,255,255);
    text-shadow: 0 0.1rem .15rem rgba(0,0,0,0.7);
    font-size: 1.2rem;
}

.card__top:hover {
    background-color: rgba(0,0,0,.05);
    transition: background-color .3s;
}

.card__bottom {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    padding: 1rem;
    color: rgb(255,255,255);
    text-shadow: 0 0.1rem .15rem rgba(0,0,0,0.7);
    font-size: .8rem;
}

.card__bottom:hover {
    background-color: rgba(0,0,0,.2);
    transition: background-color .3s;
}

.main__card--blue {
    background-color: rgb(0,123,255);
}

.main__card--yellow {
    background-color: rgb(255,193,7);
}

.main__card--green {
    background-color: rgb(40,167,69);
}

.main__card--red {
    background-color: rgb(220,53,69);
}