html {
    font-size: 14px;
}

body {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.header--dark {
    display: block;
    background-color: rgb(51,57,64);
    color: rgb(236,236,236);
    height: 4rem;
    line-height: 4rem;
    padding: 0 1.5rem;
}

.header__title {
    display: inline;
    font-size: 1.25rem;
}

.header__search {
    display: inline-flex;
    float: right;
    align-items: center;
    flex-direction: row;
    height: 100%;
    padding: .375rem .75rem;
}

.search__input {
    display: block;
    border: 1px solid;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 1.2rem;
    border-color: rgb(255,255,255);
    transition: border-color .15s;
    outline: none;
    padding: .375rem .75rem;
}

.search__input:focus {
    border-color: rgb(128,189,255);
}

.search__btn {
    display: block;
    background-color: rgb(0,123,255);
    font-size: 1.2rem;
    color: rgb(255,255,255);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid rgb(0,123,255);
    padding: .375rem .75rem;
}

.main {
    display: flex;
    height: calc(100vh - 4rem);
    flex-direction: row;
}

.main__header {
    font-size: 3rem;
    padding: 0 1.5rem 2rem 1.5rem;
    margin: 0;
}

.main__breadcrumb {
    background-color: rgb(233,236,239);
    border-radius: .25rem;
    padding: 1rem 1.5rem;
    margin: 0 1rem;
}

.aside {
    background-color: rgb(33,37,41);
    width: 8%;
    padding: 1rem;
}

@media screen and (min-width: 700px) {
    .aside {
        background-color: rgb(33,37,41);
        width: 22%;
        padding: 1.5rem;
    }
}

.main__nav {
    display: block;
}

.nav__ul {
    list-style-type: none;
    
}

.nav__header {
    color: #5a5e61;
    font-size: 0rem;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 0rem;
    display: none;
}

@media screen and (min-width: 700px) {
    .nav__header {
        display: block;
        color: #5a5e61;
        font-size: 0.9rem;
        text-transform: uppercase;
        font-weight: normal;
        line-height: 4rem;
    }
}

.nav__link {
    text-decoration: none;
}

.nav__link--text {
    display: none;
}

@media only screen and (min-width: 700px) {
    .nav__link--text {
        color: #8e969e;
        text-decoration: none;
        line-height: 4rem;
        font-size: 1.2rem;
        display: inline-block;
    }
}

.nav__link:hover {
    padding: 0.4rem 0;
}

@media only screen and (min-width: 700px) {
    .nav__link:hover {
        color: #ffffff;
        line-height: 4rem;
        padding: 0.4rem 0;
    }
}

.nav__icon {
    color: #5a5e61;
    padding: 0.4rem 0;
    margin: auto;
}

@media only screen and (min-width: 700px) {
    .nav__icon {
        color: #5a5e61;
        padding: 0 .5rem 0 0;
    }
}

.content {
    width: 92%;
    padding: 2rem;
    margin: 1rem;
}

@media only screen and (min-width: 700px) {
    .content {
        width: 78%;
        padding: 2rem;
    }
}

.main__cards {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 700px) {
    .main__cards {
        display: flex;
        flex-direction: row;
    }
}

.main__card {
    flex-basis: 100%;
    margin: 1rem;
    border-radius: .25rem;
}

.card__top {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: 1.5rem;
    color: rgb(255,255,255);
    text-shadow: 0 0.1rem .15rem rgba(0,0,0,0.7);
    font-size: 1.2rem;
    transition: background-color .3s;
}

.card__top:hover {
    background-color: rgba(0,0,0,.05);
}

.card__bottom {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    padding: 1rem;
    color: rgb(255,255,255);
    text-shadow: 0 0.1rem .15rem rgba(0,0,0,0.7);
    font-size: .8rem;
    transition: background-color .3s;
}

.card__bottom:hover {
    background-color: rgba(0,0,0,.2);
}

.card__bottom--arrow {
    float: right;
}

.main__card--blue {
    background-color: rgb(0,123,255);
}

.main__card--yellow {
    background-color: rgb(255,193,7);
}

.main__card--green {
    background-color: rgb(40,167,69);
}

.main__card--red {
    background-color: rgb(220,53,69);
}